APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomStringSomeRandomString
DB_DATABASE=airtng

# Twilio API credentials
# Found at https://www.twilio.com/user/account/voice
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers
TWILIO_NUMBER=+15552737123
